[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
pandas-datareader = "*"
beautifulsoup4 = "*"
scikit-learn = "*"
requests = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
