[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
singleton-decorator = "*"
pyyaml = "*"
websocket-client = "*"
requests = "*"
flask = "*"
flask-cors = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
